In [124]:
from datetime import date
from datetime import timedelta

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from pandas_datareader import data as pdr
import yfinance as yf

import plotly.graph_objs as go

In [115]:
forex = "EURUSD=X"

In [116]:
# set the start and end date for the historical data
start_date = '2004-01-01'
end_date = date.today().strftime("%Y-%m-%d")

In [117]:
yf.pdr_override() # <== that's all it takes :-)

In [118]:
# download dataframe
data = pdr.get_data_yahoo(forex, start=start_date, end=end_date, interval='1d')
data.head()

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close  Volume
Date
2004-01-01  1.259002  1.260796  1.247396  1.258194   1.258194       0
2004-01-02  1.258194  1.262802  1.252693  1.258194   1.258194       0
2004-01-05  1.263903  1.269406  1.263695  1.268698   1.268698       0
2004-01-06  1.268907  1.280803  1.267202  1.272103   1.272103       0
2004-01-07  1.272394  1.273999  1.262499  1.264095   1.264095       0

In [119]:
# save the data to a CSV file
path = "data/" + forex + ".csv"
data.to_csv(path, index=True)

In [120]:
df = pd.read_csv(path)

In [121]:
df.tail()

            Date      Open      High       Low     Close  Adj Close  Volume
5004  2023-04-18  1.092538  1.098346  1.092275  1.092538   1.092538       0
5005  2023-04-19  1.097538  1.098660  1.091834  1.097538   1.097538       0
5006  2023-04-20  1.095218  1.098901  1.093434  1.095218   1.095218       0
5007  2023-04-21  1.097093  1.099251  1.093972  1.097093   1.097093       0
5008  2023-04-24  1.099227  1.103424  1.096876  1.099227   1.099227       0

In [122]:
df.describe()

              Open         High          Low        Close    Adj Close  Volume
count  5009.000000  5009.000000  5009.000000  5009.000000  5009.000000  5009.0
mean      1.242227     1.246886     1.237118     1.242238     1.242238     0.0
std       0.125896     0.126590     0.126337     0.125890     0.125890     0.0
min       0.959619     0.967006     0.072902     0.959619     0.959619     0.0
25%       1.132387     1.136028     1.128910     1.132426     1.132426     0.0
50%       1.230800     1.235102     1.225896     1.230800     1.230800     0.0
75%       1.334205     1.338258     1.328568     1.334098     1.334098     0.0
max       1.598184     1.602821     1.587402     1.598798     1.598798     0.0

In [123]:
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64