In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas_datareader as data
import yfinance as yf

In [36]:
ticker = "INRJPY=X"

In [37]:
# set the start and end date for the historical data
start_date = '2015-01-01'
end_date = '2023-04-24'

data = yf.download(ticker, start=start_date, end=end_date, group_by='ticker')


# save the data to a CSV file
data.to_csv('data.csv', index=False)

[*********************100%***********************]  1 of 1 completed

In [38]:
df = pd.read_csv("data.csv")

In [39]:
df.tail()

          Open      High       Low     Close  Adj Close  Volume
2159  1.634321  1.640567  1.630534  1.634088   1.634088       0
2160  1.639417  1.642714  1.632029  1.639215   1.639215       0
2161  1.632264  1.642036  1.631687  1.632386   1.632386       0
2162  1.635807  1.640869  1.632193  1.635765   1.635765       0
2163  1.631584  1.638657  1.627469  1.631284   1.631284       0

In [40]:
df.describe()

              Open         High          Low        Close    Adj Close  Volume
count  2164.000000  2164.000000  2164.000000  2164.000000  2164.000000  2164.0
mean      1.623418     1.629807     1.616381     1.623399     1.623399     0.0
std       0.140786     0.141573     0.139866     0.140766     0.140766     0.0
min       1.389604     1.402218     1.365312     1.389683     1.389683     0.0
25%       1.518882     1.524943     1.512154     1.518695     1.518695     0.0
50%       1.604562     1.611640     1.597700     1.604484     1.604484     0.0
75%       1.722007     1.727400     1.713100     1.722012     1.722012     0.0
max       1.968000     1.972300     1.955300     1.968500     1.968500     0.0